header {
    background: lightblue;
    display: flex;
    justify-content: center;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 500px;
    margin: auto;
    text-align: center;
}

ul {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    display: box;
    max-width: 500px;
    margin: auto;
}

h2 {
    text-align: center;
}